# Metro transit information 

Using the metro API, this notebook gets data on travel times to Hattie Mae White on board meeting days.

In [ ]:
!pip install airtable

In [360]:
import numpy as np
import pandas as pd
import requests
from airtable import airtable
import time
import dateutil
from google.colab import drive

## Testing things

It's been a while since I've worked with an API, so let's just make sure some things are right

In [ ]:
# Let's get all the information on the one route I ride the most often
response = requests.get("https://api.ridemetro.org/data/Routes?$filter=RouteName eq '004'&subscription-key=4e7902d1a2ae42df978fe20387049854")
print(response.status_code)

200

In [ ]:
response.json()

{'@odata.context': 'http://api.transitiq.com/ODataService.svc/$metadata#Routes',
 'value': [{'AgencyAbbreviation': 'RideMetro',
   'DataSource': 'Transit_5',
   'FinalStop0Id': None,
   'FinalStop1Id': None,
   'LongName': 'Beechnut',
   'RouteId': 'Ho414_4620_41894',
   'RouteName': '004',
   'RouteType': 'Bus'}]}

In [ ]:
# Now let's get all the information we can about this route. This is literally all the stops! 
response = requests.get("https://api.ridemetro.org/data/Routes('Ho414_4620_41894')?subscription-key=4e7902d1a2ae42df978fe20387049854&$expand=Stops")
print(response.status_code)

200

In [ ]:
response.json()

In [ ]:
# Let's get all the vehicles
response = requests.get("https://api.ridemetro.org/data/Vehicles?subscription-key=4e7902d1a2ae42df978fe20387049854")
print(response.status_code)

200

In [ ]:
response.json()

## Exploring bus stops around Hattie Mae White

Let's start with how accessible Hattie Mae White is by public transit: Let's see what stops are in the area

In [ ]:
# Hattie Mae White coordinatess

HMW_lat = 29.802759908899148
HMW_long = -95.45410037006431

key = "4e7902d1a2ae42df978fe20387049854"

In [ ]:
HMW_stops = requests.get(f"https://api.ridemetro.org/data/GeoAreas('{HMW_lat}|{HMW_long}|0.3')/Stops?subscription-key={key}")
print(HMW_stops.status_code)

200

In [ ]:
HMW_stops.json()

## Linking airtable data

Now, we'll calculate the distance from each school to HMW. To do this, we'll import information from the airtable base where I am putting all the information

In [ ]:
airtable_api_key = "keyOZN2sN8u2NhZVY"
airtable_base_id = "appxpHxQKYCeuAa46"

In [ ]:
# taken from https://community.airtable.com/t/how-to-get-more-than-100-rows-using-airtable-api-in-python-using-offest/30536/2

global offset
offset = '0'
t = []

while True :
    url = f"https://api.airtable.com/v0/{airtable_base_id}/School%20Information"
    querystring = {
        # "view":"Grid View",
        "api_key": airtable_api_key,
        "offset": offset}

    try :
        response= requests.get(url, params=querystring)
        req = response.json()
        page = pd.DataFrame(req, columns = req.keys())
        page = pd.concat([page.drop(['records'], axis=1), page['records'].apply(pd.Series)], axis=1)
        page = pd.concat([page.drop(['fields'], axis=1), page['fields'].apply(pd.Series)], axis=1).fillna('')

        t.append(page)
        print(records[0]['id'] , len(records))
    
        try : 
            offset = req['offset']
            print(offset)
            
        except Exception as ex:
            print(ex , offset)
            break
    
    except error as e:
        print("hi")

schools = pd.concat(t, axis=0).reset_index()

# take the columns we want and rename them
schools = schools[['School Name', 'Latitude [Public School] 2019-20', 'Longitude [Public School] 2019-20', 'School ID - NCES Assigned [Public School] Latest available year']]
schools.columns = ['name', 'lat', 'long', 'id']

schools.head(20)

reciHyqBq9uMgr37c 80
itryrZzCskZgswaT0/recLHuirfHVVPFD5m
reciHyqBq9uMgr37c 80
itryrZzCskZgswaT0/rechwX48Ju9zvX1zZ
reciHyqBq9uMgr37c 80
'offset' itryrZzCskZgswaT0/rechwX48Ju9zvX1zZ

                                             name  ...            id
0                                      GRISSOM EL  ...  482364002472
1                        KING EARLY CHILDHOOD CTR  ...  482364010746
2                                       KOLTER EL  ...  482364002510
3                                        HOBBY EL  ...  482364002490
4                                    WELCH MIDDLE  ...  482364005501
5                                   HARRIS J R EL  ...  482364002478
6                                    BELLAIRE H S  ...  482364002397
7                                     MADISON H S  ...  482364002530
8                                  WOODSON SCHOOL  ...  482364002417
9   MICKEY LELAND COLLEGE PREP ACAD FOR YOUNG MEN  ...  482364012618
10                                  RIVER OAKS EL  ...  482364002567
11                                      FOSTER EL  ...  482364002459
12                                   LAS AMERICAS  ...  482364008608
13                                   WESTBURY H S  ...  482364002609
14                                      DURKEE EL  ...  482364002445
15                                      LOVETT EL  ...  482364002526
16                BELLFORT EARLY CHILDHOOD CENTER  ...  482364007940
17                                      SEGUIN EL  ...  482364009278
18                              T H ROGERS SCHOOL  ...  482364006272
19                                 BURBANK MIDDLE  ...  482364002413

[20 rows x 4 columns]

In [ ]:
# now, let's take a sample school and calculat the route! 
nrow = 2

s_lat = schools.iloc[nrow, 1]
s_long = schools.iloc[nrow, 2]

print(schools.iloc[nrow, 0])
print(s_lat, s_long)

29.67397345835996, -95.46738418104776

KOLTER EL
29.712887 -95.45595

In [ ]:
trip = requests.get(f"https://api.ridemetro.org/data/CalculateItineraryByPoints?lat1={s_lat}&lon1={s_long}&lat2={HMW_lat}&lon2={HMW_long}&$orderby=EndTime&$expand=Legs&subscription-key={key}")
print(trip.status_code)

200

In [ ]:
pd.DataFrame(trip.json())

                                      @odata.context                                              value
0  http://api.transitiq.com/ODataService.svc/$met...  {'ItineraryId': 'f04b4da1-c975-4358-9b1d-5d23b...
1  http://api.transitiq.com/ODataService.svc/$met...  {'ItineraryId': 'acc34e88-d91c-4b8d-bd88-262e5...

In [ ]:
trip_df = trip['value'].apply(pd.Series)
trip_df['school'] = schools.iloc[nrow, 0]
trip_df['school_id'] = schools.iloc[nrow, 3]
trip_df.head()

                            ItineraryId  ...     school_id
0  4991ed22-ce9f-40cb-9c29-d7b5fdf5c387  ...  482364002510
1  8bbdbabb-ad36-4f4d-b341-89ef431dcaf8  ...  482364002510

[2 rows x 25 columns]

In [ ]:
legs = trip_df['Legs'].apply(pd.Series)

In [ ]:
legs.iloc[0].apply(pd.Series)

   ItineraryLegId AgencyAbbreviation  ...  TripHeadsign DelayFromScheduleInSeconds
0      1108178896               None  ...                                      NaN
1      1108178897          RideMetro  ...  NORTHWEST TC                        0.0
2      1108178898          RideMetro  ...     WEST BELT                        0.0
3      1108178899               None  ...                                      NaN
4      1108178900               None  ...                                      NaN

[5 rows x 27 columns]

In [ ]:
schools.head(20)

                                             name  ...            id
0                                      GRISSOM EL  ...  482364002472
1                        KING EARLY CHILDHOOD CTR  ...  482364010746
2                                       KOLTER EL  ...  482364002510
3                                        HOBBY EL  ...  482364002490
4                                    WELCH MIDDLE  ...  482364005501
5                                   HARRIS J R EL  ...  482364002478
6                                    BELLAIRE H S  ...  482364002397
7                                     MADISON H S  ...  482364002530
8                                  WOODSON SCHOOL  ...  482364002417
9   MICKEY LELAND COLLEGE PREP ACAD FOR YOUNG MEN  ...  482364012618
10                                  RIVER OAKS EL  ...  482364002567
11                                      FOSTER EL  ...  482364002459
12                                   LAS AMERICAS  ...  482364008608
13                                   WESTBURY H S  ...  482364002609
14                                      DURKEE EL  ...  482364002445
15                                      LOVETT EL  ...  482364002526
16                BELLFORT EARLY CHILDHOOD CENTER  ...  482364007940
17                                      SEGUIN EL  ...  482364009278
18                              T H ROGERS SCHOOL  ...  482364006272
19                                 BURBANK MIDDLE  ...  482364002413

[20 rows x 4 columns]

## Running it on all the schools 

Now, let's loop through all the schools and put all the routes together

In [ ]:
routelist = []

for nrow in range(0, len(schools)): 

  s_lat = schools.iloc[nrow, 1]
  s_long = schools.iloc[nrow, 2]

  # get the trip information for that school
  trip = requests.get(f"https://api.ridemetro.org/data/CalculateItineraryByPoints?lat1={s_lat}&lon1={s_long}&lat2={HMW_lat}&lon2={HMW_long}&$orderby=EndTime&$expand=Legs&subscription-key={key}")

  trip1 = pd.DataFrame(trip.json())

  trip_df = trip1['value'].apply(pd.Series)
  trip_df['school'] = schools.iloc[nrow, 0]
  trip_df['school_id'] = schools.iloc[nrow, 3]

  routelist.append(trip_df)
  print(f"Done with school #{nrow}: {schools.iloc[nrow, 0]}")

  time.sleep(2)

Done with school #0
Done with school #1
Done with school #2
Done with school #3
Done with school #4
Done with school #5
Done with school #6
Done with school #7
Done with school #8
Done with school #9
Done with school #10
Done with school #11
Done with school #12
Done with school #13
Done with school #14
Done with school #15
Done with school #16
Done with school #17
Done with school #18
Done with school #19
Done with school #20
Done with school #21
Done with school #22
Done with school #23
Done with school #24
Done with school #25
Done with school #26
Done with school #27
Done with school #28
Done with school #29
Done with school #30
Done with school #31
Done with school #32
Done with school #33
Done with school #34
Done with school #35
Done with school #36
Done with school #37
Done with school #38
Done with school #39
Done with school #40
Done with school #41
Done with school #42
Done with school #43
Done with school #44
Done with school #45
Done with school #46
Done with school #47
Done with school #48
Done with school #49
Done with school #50
Done with school #51
Done with school #52
Done with school #53
Done with school #54
Done with school #55
Done with school #56
Done with school #57
Done with school #58
Done with school #59
Done with school #60
Done with school #61
Done with school #62
Done with school #63
Done with school #64
Done with school #65
Done with school #66
Done with school #67
Done with school #68
Done with school #69
Done with school #70
Done with school #71
Done with school #72
Done with school #73
Done with school #74
Done with school #75
Done with school #76
Done with school #77
Done with school #78
Done with school #79
Done with school #80
Done with school #81
Done with school #82
Done with school #83
Done with school #84
Done with school #85
Done with school #86
Done with school #87
Done with school #88
Done with school #89
Done with school #90
Done with school #91
Done with school #92
Done with school #93
Done with school #94
Done with school #95
Done with school #96
Done with school #97
Done with school #98
Done with school #99
Done with school #100
Done with school #101
Done with school #102
Done with school #103
Done with school #104
Done with school #105
Done with school #106
Done with school #107
Done with school #108
Done with school #109
Done with school #110
Done with school #111
Done with school #112
Done with school #113
Done with school #114
Done with school #115
Done with school #116
Done with school #117
Done with school #118
Done with school #119
Done with school #120
Done with school #121
Done with school #122
Done with school #123
Done with school #124
Done with school #125
Done with school #126
Done with school #127
Done with school #128
Done with school #129
Done with school #130
Done with school #131
Done with school #132
Done with school #133
Done with school #134
Done with school #135
Done with school #136
Done with school #137
Done with school #138
Done with school #139
Done with school #140
Done with school #141
Done with school #142
Done with school #143
Done with school #144
Done with school #145
Done with school #146
Done with school #147
Done with school #148
Done with school #149
Done with school #150
Done with school #151
Done with school #152
Done with school #153
Done with school #154
Done with school #155
Done with school #156
Done with school #157
Done with school #158
Done with school #159
Done with school #160
Done with school #161
Done with school #162
Done with school #163
Done with school #164
Done with school #165
Done with school #166
Done with school #167
Done with school #168
Done with school #169
Done with school #170
Done with school #171
Done with school #172
Done with school #173
Done with school #174
Done with school #175
Done with school #176
Done with school #177
Done with school #178
Done with school #179
Done with school #180
Done with school #181
Done with school #182
Done with school #183
Done with school #184
Done with school #185
Done with school #186
Done with school #187
Done with school #188
Done with school #189
Done with school #190
Done with school #191
Done with school #192
Done with school #193
Done with school #194
Done with school #195
Done with school #196
Done with school #197
Done with school #198
Done with school #199
Done with school #200
Done with school #201
Done with school #202
Done with school #203
Done with school #204
Done with school #205
Done with school #206
Done with school #207
Done with school #208
Done with school #209
Done with school #210
Done with school #211
Done with school #212
Done with school #213
Done with school #214
Done with school #215
Done with school #216
Done with school #217
Done with school #218
Done with school #219
Done with school #220
Done with school #221
Done with school #222
Done with school #223
Done with school #224
Done with school #225
Done with school #226
Done with school #227
Done with school #228
Done with school #229
Done with school #230
Done with school #231
Done with school #232
Done with school #233
Done with school #234
Done with school #235
Done with school #236
Done with school #237
Done with school #238
Done with school #239
Done with school #240
Done with school #241
Done with school #242
Done with school #243
Done with school #244
Done with school #245
Done with school #246
Done with school #247
Done with school #248
Done with school #249
Done with school #250
Done with school #251
Done with school #252
Done with school #253
Done with school #254
Done with school #255
Done with school #256
Done with school #257
Done with school #258
Done with school #259
Done with school #260
Done with school #261
Done with school #262
Done with school #263
Done with school #264
Done with school #265
Done with school #266
Done with school #267
Done with school #268
Done with school #269
Done with school #270
Done with school #271
Done with school #272
Done with school #273
Done with school #274
Done with school #275
Done with school #276
Done with school #277
Done with school #278
Done with school #279

In [373]:
routes = pd.concat(routelist, ignore_index = True)
routes['AdjustedStartTime'] = routes.AdjustedStartTime.apply(dateutil.parser.isoparse)
routes['AdjustedEndTime'] = routes.AdjustedEndTime.apply(dateutil.parser.isoparse)
routes['length'] = routes['AdjustedEndTime'] - routes['AdjustedStartTime']

all_legs = routes['Legs'].apply(pd.Series)
leglist = []

for route in range(0, len(all_legs)): 

  temp = all_legs.iloc[route, :].apply(pd.Series)
  leglist.append(temp)

legs = pd.concat(leglist)
print(legs.shape)
legs = legs[~np.isnan(legs['Ordinal'])]
legs.shape

(12410, 28)

(8073, 28)

In [337]:
print(f"Number of schools: {len(schools)}")
print(f"Number of routes: {len(routes)}")
print(f"Number of legs: {len(legs)}")

Number of schools: 280
Number of routes: 1241
Number of legs: 8073

In [ ]:
legs.sort_values(['ItineraryId', 'Ordinal'], inplace = True)
legs.head()

In [377]:
mintrans = routes[routes.TravelTypes != "Walk"].sort_values('TransferCount').drop_duplicates(subset = 'school_id', keep = 'first')
mintrans.TransferCount.value_counts()

2    164
3     79
1     35
4      1
Name: TransferCount, dtype: int64

In [378]:
mintrans.length.describe()

count                          279
mean     0 days 01:20:12.820788530
std      0 days 00:28:27.858972493
min                0 days 00:15:58
25%                0 days 01:01:52
50%                0 days 01:18:38
75%         0 days 01:37:44.500000
max                0 days 03:15:26
Name: length, dtype: object

In [376]:
routes.length.describe()

count                         1241
mean     0 days 01:29:57.339242546
std      0 days 00:29:12.139752715
min                0 days 00:00:31
25%                0 days 01:10:36
50%                0 days 01:27:10
75%                0 days 01:49:22
max                0 days 03:47:45
Name: length, dtype: object

In [379]:
minlen = routes.sort_values('length').drop_duplicates(subset = 'school_id', keep = 'first')
minlen.length.describe()

count                          280
mean     0 days 01:13:08.482142857
std      0 days 00:26:30.237352846
min                0 days 00:00:31
25%         0 days 00:54:36.250000
50%                0 days 01:12:16
75%         0 days 01:30:28.250000
max                0 days 02:49:53
Name: length, dtype: object

In [383]:
sum(minlen.length > datetime.timedelta(hours = 1))

187